@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dont NET Dev</h1>

    <h1 class="display-4">Welcome to Dont NET Dev</h1>

</div>
